@import "styles/colors";

.container {
  width: 100%;
  padding: 0.5625rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;

  .avatar {
    display: flex;
    align-items: center;

    .profileImageContainer {
      width: 3.375rem;
      height: 3.375rem;
      border-radius: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }
  }

  .userCaption {
    flex: 1;
    padding: 0.0625rem 0.4375rem 0.0625rem 0.5625rem;
    display: flex;
    flex-direction: column;
    color: $secondary-text-color;

    .dialogTitle {
      height: 27px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .userTitle {
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 27px;
        overflow: hidden;
        color: $primary-text-color;
        font-weight: bolder;
        word-spacing: 1px;
      }

      .dialogTitleDetails {
        font-size: 0.75rem;
        padding: 1px 0px 0px 0px;
        // flex: 0 0 auto;
        margin-left: 0.5rem;
        word-spacing: 1px;
        font-weight: 400;
      }
    }
  }
}
