@import "styles/colors";

.container {
  width: 100%;
  padding: 0.5625rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  min-height: 4.5rem;

  &.active {
    background-color: $primary-color;

    .userCaption {
      color: $white;

      .dialogTitle .userTitle,
      .dialogSubtitle .userLastMessage {
        color: $white;
      }
    }
  }

  &:hover:not(.active) {
    background-color: $light-secondary-text-color;
  }

  .avatar {
    display: flex;
    align-items: center;

    .profileImageContainer {
      width: 3.375rem;
      height: 3.375rem;
      border-radius: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }
  }

  .userCaption {
    flex: 1;
    padding: 0.0625rem 0.4375rem 0.0625rem 0.5625rem;
    display: flex;
    flex-direction: column;
    color: $secondary-text-color;
    overflow: hidden;

    .dialogTitle {
      height: 27px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-overflow: ellipsis;

      .userTitle {
        white-space: nowrap;
        color: $primary-text-color;
        font-weight: bolder;
      }

      .dialogTitleDetails {
        font-size: 0.75rem;
        font-weight: 400;
        white-space: nowrap;
      }
    }

    .dialogSubtitle {
      display: flex;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;

      .userLastMessage {
        font-size: 1rem;
        white-space: nowrap;
        color: $secondary-text-color;
      }
    }
  }
}
