@import "styles/colors";
@import "styles/variables";

.container {
  width: 100%;
  min-height: $sidebar-header-height;
  padding: 0 1rem;
  display: flex;
  align-items: center;

  .button {
    width: 3rem;
    height: 2.5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.15s background-color !important;

    &:hover {
      background-color: $light-secondary-text-color;
    }

    .icon {
      color: $secondary-text-color;
    }
  }

  .input {
    margin: 0 0.4375rem;
  }
}
